:root {
/* CSS HEX */
/* --raisin-black: #201e1fff;
--white: #ffffffff;
--silver: #bdbbb0ff;
--amethyst: #9d75cbff;
--battleship-gray: #8a897cff; */

/* CSS HSL */
--raisin-black: hsla(330, 3%, 12%, 1);
--white: hsla(0, 0%, 100%, 1);
--silver: hsla(51, 9%, 72%, 1);
--amethyst: hsla(268, 45%, 63%, 1);
--battleship-gray: hsla(56, 6%, 51%, 1);
}


/*Universal Selector(s)*/
* {
    background-color:var(--raisin-black);
    color: var(--white);
}

/*Class Selectors*/
.titleLink {
    text-decoration: none;
    height: 68px;
}
.websiteTitle {
    text-align: center;
    color: var(--amethyst);
    border: 1px solid var(--silver);
    border-radius: 6px;
    display: inline-flex;
    padding: 2px 10px;
}
.titleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.navBarDiv{
    align-content: center;
    border: 1px solid var(--silver);
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
}
.navUL{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    padding: 0px;
    margin: 3px 0px;
}
.navLI{
    padding: 16px 50px;
    border: 1px solid var(--silver);
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.navLI:hover{
    background-color: var(--battleship-gray);
}
.navLink{
    text-decoration: none;
    color: var(--amethyst);
    border:1px solid var(--silver);
    border-radius: 3px;
    padding: 2px;
}
.pageTitle {
    text-align: center;
    width: 400px;
    margin:auto;
    background-color: transparent;
}
.contentP{
    text-align: center;
}
.footerDiv{
    border: 1px solid var(--silver);
    margin-top: 50px;
}
.footerText{
    text-align: center;
}
.recipeIMG{
    display: block;
    margin: auto;
    height:280px;
    border-radius: 50%;
    overflow: hidden;
}

.contentBorder {
    border: 1px solid var(--silver);
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}
.ingredientsAndSteps{
    display: flex;
    flex:1;
    flex-direction: row;
    width: fit-content;
}
.ingredientsBorder {
    border: 1px solid var(--silver);
    border-radius: 6px;
    margin: auto;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.stepsBorder {
    border: 1px solid var(--silver);
    border-radius: 6px;
    margin: auto;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.imageBorder {
    border: 1px solid var(--amethyst);
    border-radius: 25%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.contentBorder h4{
    margin:0px;
    text-align: center;
}
.contentBorder ul{
    
}
